    <header class="top">
      <div class="container">
        <div class="h_navi clearfix">
          <div class="h_logo">
            <h1><a href="http://megurico.com"><img src="http://megurico.com/main/wp-content/themes/megurico/img/h_logo.png"></a></h1>
          </div>
          <div class="head_fr">
            <div class="contact_wrap">
              <h2>お気軽にお問い合わせください</h2>
              <div class="contact_flex">
                <div class="fl">
                  <span>本店</span>
                  <a href="tel:06-6484-6278">06-6484-6278</a>
                </div>
                <div class="fr">
                  <span>心斎橋店</span>
                  <a href="tel:06-6227-8953">06-6227-8953</a>
                </div>
              </div>
            </div>
          </div>
        </div>
                  <div class="main_slide vpc">
            <div id="metaslider-id-94" style="width: 100%;" class="ml-slider-3-21-0 metaslider metaslider-flex metaslider-94 ml-slider">
    <div id="metaslider_container_94">
        <div id="metaslider_94">
            <ul aria-live="polite" class="slides">
                <li style="display: block; width: 100%;" class="slide-99 ms-image"><img src="http://megurico.com/main/wp-content/uploads/2020/12/slider01-1-0x0.png" height="0" width="0" alt="" class="slider-94 slide-99" title="slider01" /></li>
                <li style="display: none; width: 100%;" class="slide-100 ms-image"><img src="http://megurico.com/main/wp-content/uploads/2020/12/slider02-0x0.png" height="0" width="0" alt="" class="slider-94 slide-100" title="slider02" /></li>
                <li style="display: none; width: 100%;" class="slide-101 ms-image"><img src="http://megurico.com/main/wp-content/uploads/2020/12/slider03-1-0x0.png" height="0" width="0" alt="" class="slider-94 slide-101" title="slider03" /></li>
                <li style="display: none; width: 100%;" class="slide-137 ms-image"><img src="http://megurico.com/main/wp-content/uploads/2020/12/slider04-0x0.png" height="0" width="0" alt="" class="slider-94 slide-137" title="slider04" /></li>
                <li style="display: none; width: 100%;" class="slide-142 ms-image"><img src="http://megurico.com/main/wp-content/uploads/2020/12/slider05-0x0.png" height="0" width="0" alt="" class="slider-94 slide-142" title="slider05" /></li>
            </ul>
        </div>

    </div>
</div>          </div>
          <div class="main_slide vsp">
            <div id="metaslider-id-102" style="width: 100%;" class="ml-slider-3-21-0 metaslider metaslider-flex metaslider-102 ml-slider">
    <div id="metaslider_container_102">
        <div id="metaslider_102">
            <ul aria-live="polite" class="slides">
                <li style="display: block; width: 100%;" class="slide-133 ms-image"><img src="http://megurico.com/main/wp-content/uploads/2020/12/sp_slider01-1-0x0.png" height="0" width="0" alt="" class="slider-102 slide-133" title="sp_slider01" /></li>
                <li style="display: none; width: 100%;" class="slide-134 ms-image"><img src="http://megurico.com/main/wp-content/uploads/2020/12/sp_slider02-0x0.png" height="0" width="0" alt="" class="slider-102 slide-134" title="sp_slider02" /></li>
                <li style="display: none; width: 100%;" class="slide-135 ms-image"><img src="http://megurico.com/main/wp-content/uploads/2020/12/sp_slider03-1-0x0.png" height="0" width="0" alt="" class="slider-102 slide-135" title="sp_slider03" /></li>
                <li style="display: none; width: 100%;" class="slide-145 ms-image"><img src="http://megurico.com/main/wp-content/uploads/2020/12/sp_slider04-0x0.png" height="0" width="0" alt="" class="slider-102 slide-145" title="sp_slider04" /></li>
                <li style="display: none; width: 100%;" class="slide-146 ms-image"><img src="http://megurico.com/main/wp-content/uploads/2020/12/sp_slider05-0x0.png" height="0" width="0" alt="" class="slider-102 slide-146" title="sp_slider05" /></li>
            </ul>
        </div>

    </div>
</div>          </div>

          <div class="mv_banner">
            <ul class="lazy lazy_bottom">
              <li class="clearfix">
                <a href="http://megurico.com/ems/">
                  <div class="fl">
                    <img src="http://megurico.com/main/wp-content/themes/megurico/img/top_ems1.png">
                  </div>
                  <div class="fr">
                    <span>EMS TRAINING</span>
                    <p>
                      最先端EMSトレーニングで<br>
                      10年先も後悔しない体づくりを
                    </p>
                  </div>
                </a>
              </li>


              <li class="clearfix">
                <a href="http://megurico.com/recruit/">
                  <div class="fl">
                    <img src="http://megurico.com/main/wp-content/themes/megurico/img/top_recruit.png">
                  </div>
                  <div class="fr">
                    <span>RECRUIT</span>
                    <p>
                      セラピストスタッフ募集中<br>
                      私たちと一緒に働きませんか？
                    </p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
              </div>


      <button type="button" class="drawer-toggle drawer-hamburger vsp">
        <span class="sr-only">toggle navigation</span>
        <span class="drawer-hamburger-icon"></span>
      </button>
      <nav class="drawer-nav vsp">
        <ul class="drawer-menu">
          <li><a class="drawer-menu-item" href="http://megurico.com">TOP</a></li>
          <li><a class="drawer-menu-item" href="http://megurico.com/about/">私たちについて</a></li>
          <li><a class="drawer-menu-item" href="http://megurico.com/course/">コース紹介</a></li>
          <li><a class="drawer-menu-item" href="http://megurico.com/reservation/">ご予約</a></li>
          <li><a class="drawer-menu-item" href="http://megurico.com/shop/">店舗情報</a></li>
          <li><a class="drawer-menu-item" href="http://megurico.com/recruit/">求人情報</a></li>
          <li><a class="drawer-menu-item" href="https://megurico.thebase.in/secret_ec/login" target="_blank">オンラインショップ</a></li>
          <li><a class="drawer-menu-item" href="http://megurico.com/contact/">お問い合わせ</a></li>
          <li class="clearfix btn_wrap"><a class="tel_btn" href="tel:06-6484-6278">本店</a><a class="tel_btn" href="tel:06-6227-8953">心斎橋店</a></li>
        </ul>
      </nav>
      <div class="h_navi_list vpc">
        <nav class="container">
          <ul class="global_menu clearfix">
            <li><a href="http://megurico.com/about/"><span>ABOUT US</span>私たちについて</a></li>
            <li><a href="http://megurico.com/course/"><span>COURSE</span>コース紹介</a></li>
            <li><a href="http://megurico.com/reservation/"><span>RESERVATION</span>ご予約</a></li>
            <li><a href="http://megurico.com/shop/"><span>SHOP INFO</span>店舗情報</a></li>
            <li><a href="http://megurico.com/recruit/"><span>RECRUIT</span>求人情報</a></li>
            <li><a href="https://megurico.thebase.in/secret_ec/login" target="_blank"><span>ONLINE SHOP</span>オンラインショップ</a></li>
            <li><a href="http://megurico.com/contact/"><span>CONTACT</span>お問い合わせ</a></li>
          </ul>
        </nav>
      </div>
    </header>