

<div class="container">
  <div class="form-group row">
    <div class="mt-5 col-sm-2.5">
      <h5 class="bg-light"><strong>施術ジャンル編集</strong></h5>
    </div>
  </div>


<%= form_with model: @genre, url: admin_genre_path, local:true do |f| %>
  <div class="form-group row">
    <div class="col-sm-2">
    <label class="col-form-label">施術ジャンル名</label>
     </div>
    <div class="col-sm-3">
    <%= f.text_field :name %>
     </div>
     <div class="col-sm-2">
     <%= f.submit "変更を保存", class: "btn btn-success" %>
     </div>
     <div class="col-sm-2">
     <%= link_to "削除する", admin_genre_path(@genre), method: :delete, class: "btn btn-sm btn-danger destroy", "data-confirm" => "本当に消去しますか？"  %>
    </div>
  </div>
<% end %>
</div>